<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Flower</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,400,700|Montserrat:400,500,700"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="container">
          <ul class="nav">
            <li class="nav-item">
              <a href="#" class="navbar-brand">Accueil</a>
            </li>
            <li class="nav-item">
              <a href="#" class="navbar-brand">Trouver une fleur</a>
            </li>
            <li class="nav-item">
              <a href="#" class="navbar-brand">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="jumbotron text-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="title">Trouve ma fleur</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt unde
              officiis earum, hic excepturi enim ea quaerat voluptas possimus
              inventore incidunt, dolores architecto debitis nam impedit veniam,
              vitae minima iure.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <div class="box">
              <h2 class="mb-4">Entrez le liens de votre image</h2>
              <div class="form">
                <form action="">
                  <div class="form-group mb-5">
                    <label for="">Url de l'image :</label>
                    <input type="text" class="form-control" />
                  </div>
                  <button class="btn btn-success">Envoyé</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"
      ></script>
    </footer>
  </body>
</html>
